@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --primary-green: #233945;
}

/* Mantener fondo base de la aplicación */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-green);
}

/* Quitar botón nativo de mostrar contraseña en navegadores */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: -9999px;
}
